<div class="row">
  <div id="login_page" class="large-12 columns">
    <h3>Login</h3>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "callout" }) do |f| %>

      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true %>

      <%= f.label :password %>
      <%= f.password_field :password, autocomplete: "off" %>

      <div class="login-button">
        <%= f.submit "Log in" %>
      </div>
    <% end %>

  </div>
</div>
