<!DOCTYPE html>
<html>
<head>
  <title>LoginApp</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if notice %>
  <div class="success callout"><%= notice %></div>
<% end %>

<% if alert %>
  <div class="alert callout"><%= alert %></div>
<% end %>

<% if user_signed_in? %>
  <div class="callout logout-box">
    <%= link_to("Logout", destroy_user_session_path, method: :delete, class: "button expand") %>
  </div>
<% end %>

<%= yield %>

</body>
</html>
