<div class="row">
  <div class="large-12 columns centered-box">
    <h3>Sign up</h3>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "callout" }) do |f| %>
      <%= devise_error_messages! %>

      <%= f.label :email %>
      <%= f.email_field :email %>

      <%= f.label :password %>
      <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %>
      <%= f.password_field :password, autocomplete: "off" %>

      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off" %>

      <div class="actions">
        <%= f.submit "Sign up" %>
      </div>
    <% end %>

    <%= render "users/shared/links" %>

  </div>
</div>
